useDynLib(dpeak,.registration=TRUE)
exportPattern("^[[:alpha:]]+")

importFrom( Rcpp, evalCpp )


import( methods, graphics, MASS, IRanges,
       BSgenome,GenomicRanges,
       GenomicAlignments, Rsamtools,
       GenomeInfoDb, S4Vectors )

export( dpeakRead, dpeakFit )

export( show, plot, print, printEmpty )

export( export )
